  
  .header {
    display: flex;
    justify-content: space-between;
    background-color:lightgrey;

  }

  .contain {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
  }
  .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
  }
  
  .col:last-child {
    border-right: solid 1px grey;
  }
  
  .row:last-child .col {
    border-bottom: solid 1px grey;
  }